:root {
    --primary-color: #202121;
    --secondary-color: #376666;
    --darker-secondary: #1d3636;
    --darker-white: #dedede;
}

body.normal {
    font-family: Arial, sans-serif;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
    text-align: center;
}

body.forms {
    font-family: Arial, sans-serif;
    background: var(--primary-color);
    margin: 0;
    color: var(--darker-white);
    text-align: center;
}

#header {
    text-align: center;
    color: var(--darker-white);
    font-size: 30px;
}

.login-button {
    display: inline-block;
    width: 80%;
    padding: 30px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--darker-white);
    font-size: 40px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #1d3636;
}

.login-container {
    text-align: center;
    padding: 75px;
    border: 3px solid var(--secondary-color);
    background-color: #070808;
    color: var(--darker-white);
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a.login-btn {
    display: inline-block;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  a.login-btn:hover {
    background-color: #1d3636;
  }

.welcome {
    text-align: center;
    padding: 75px;
    border: 3px solid var(--secondary-color);
    background-color: #070808;
    color: var(--darker-white);
    border-radius: 10px;
    font-size: 18px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button.save-btn {
    display: inline-block;
    background-color: var(--secondary-color);
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}

button.save-btn:hover {
    background-color: #1d3636;
}

.edit-info, .user-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 60px;
    border: 2px solid var(--secondary-color);
    background-color: #070808;
    color: var(--darker-white);
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; 
    margin: 0 auto;
  }
  
.form-row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
button.back {
    display: inline-block;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 12px 24px;
    border: none;  /* Remove default button border */
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;  /* Remove text decoration */
}

button.back:hover {
    background-color: #1d3636;
}

.forms button {
    display: inline-block;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 12px 24px;
    border: none;  /* Remove default button border */
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;  /* Remove text decoration */
    width: 250px;
}

.forms button:hover {
    background-color: #1d3636;
}
  
label.edit {
    margin-bottom: 5px;
    font-weight: bold;
}
  
input.box {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

.admin-btn {
    display: inline-block;
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--darker-white);
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-bottom: 10px;
}

.admin-btn:hover {
    background-color: #1d3636;
}

button.admin-btn {
    display: inline-block;
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--darker-white);
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-bottom: 10px;
}

button.admin-btn:hover {
    background-color: #1d3636;
}

body.userList {
    margin: 40px;
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--darker-white);
}

body.userList table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Table header styling */
body.userList th {
    background-color: var(--secondary-color);
    color: var(--darker-white);
    text-align: left;
    padding: 12px;
    border: 1px solid var(--darker-white);
    cursor: pointer;
}
  
body.userList th:hover {
    background-color: var(--darker-secondary);
}
  
/* Table row styling */
body.userList td {
    padding: 12px;
    border: 1px solid var(--darker-white);
}
  
/* Alternating row color for readability */
body.userList tbody tr:nth-child(even) {
    background-color: #424242;
}
  
body.userList tbody tr:nth-child(odd) {
    background-color: #545454;
}
  
/* Hover effect for rows */
body.userList tbody tr:hover {
    background-color: var(--darker-secondary);
    color: var(--darker-white);
}

/* Update User Information */
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    background-color: #070808;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
}
  
.modal-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
  
.modal-button.confirm {
    background-color: #4CAF50;
    color: var(--darker-white);
}
  
.modal-button.cancel {
    background-color: #f44336;
    color: var(--darker-white);
}
  
.delete-btn {
    display: inline-block;
    background-color: var(--secondary-color);
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}

.delete-btn:hover {
    background-color: var(--darker-secondary);
}
